
.box {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 16px;
    color: #ddd;
    font-size: 10px;
}


/** 2D slice sliders **/

.slice.goog-slider-horizontal {
	position: absolute;
	left: 5%;
	bottom: 10px;
	width: 90%;
	height: 4px;
    border-radius: 4px;
    background: #4AA;
}

.slice .goog-slider-thumb {
	position: absolute;
    margin-top: -3px;
	width: 6px;
	height: 10px;
	background: #888;
    border: 0px;
    border-radius: 4px;
}

#xSlider { background: #CC0; }
#ySlider { background: #0f0; }
#zSlider { background: #f00; }



