/** GUI toggle menu **/

/** Folders and headers **/

#menuDiv {
    position: absolute;
    border: 5px solid #fff;
    border-radius: 5px;
    background: #fff;
    top: 10px;
    right: 10px;
    width: 150px;
    opacity: 0.45;
    color: #000;
    font-size: 11px;
}

#menuHeader {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #333;
    letter-spacing: 2px;
    cursor: pointer;
}

.folder {
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: -1px;
    border-bottom: 1px solid #333;
    background: #aaa;
    cursor: pointer;
}

.goog-zippy-expanded .arrow, .goog-zippy-collapsed .arrow {
    width: 16px;
    height: 12px;
    background-image: url(http://code.jquery.com/ui/1.9.1/themes/base/images/ui-icons_454545_256x240.png);
}

.goog-zippy-expanded .arrow { background-position: -64px -16px; }
.goog-zippy-collapsed .arrow { background-position: -32px -16px; }

/** Inner content of folders **/

.wrapper {
    position: relative;
    width: 42%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.label {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
}

#outerRendDiv {   
    margin-top: 7px;
}

.outerFileDiv {
    position: relative;
}

.innerFileDiv {
    position: absolute;
    top: 3px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.volumeFile .innerFileDiv { width: 85%; }
.meshFile .innerFileDiv, .fiberFile .innerFileDiv { width: 45%; }


/** sliders **/

.goog-slider-horizontal,
.goog-twothumbslider-horizontal {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: #555;
    display: inline-block;
}

.goog-slider-thumb,
.goog-twothumbslider-value-thumb,
.goog-twothumbslider-extent-thumb {
    position: absolute;
    margin-top: -2px;
	width: 4px;
	height: 6px;
	background: #eee;
    border: 1px solid #333;
    border-radius: 4px;
}

.goog-twothumbslider-rangehighlight {
    position: absolute;
    height: 3px;
    background-color: #999;
}

.opacityNonvol.goog-slider-horizontal {
    top: 7px;
    width: 38%;
    left: 58%;
}

